:root{
    --md:1.4rem;
    --lg:2rem;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container-title{
    width: 100%;
    height: auto;
    font-size: var(--lg);
    display: flex;
    justify-content: center;
}
.container-main{
    display: grid;
    grid-template-columns: repeat(2, minmax(270px,350px) );
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row dense;
    gap: 12px;
    font-size: var(--md);
    margin: 0 auto;
    justify-content: center;
}
.triangulo,.cuadrado{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    background-color: rgb(31, 28, 25);
    color: white;
    gap: 12px;
}
.triangulo form,.cuadrado form{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.triangulo form div,.cuadrado form div{
    display: flex;
    justify-content: space-between;
}
input{
    width: 70px;
    border-radius: 4px;
    padding: 0 10px;
}
button{
    width: 60px;
    height: 20px;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}